
<h1 i18n>Customer Details</h1>
<div class="customer-details">
     <div class="box1">
         <h4 i18n>Name</h4>
         <p >{{customer?.name}}</p>
     </div>
     <div class="box1">
         <h4 i18n>Phone</h4>
         <p>{{customer?.phone}}</p>
     </div>
     <div class="box1">
         <h4 i18n>Email</h4>
         <p>{{customer?.email}}</p>
     </div>
     <div class="box1">
         <h4 i18n>Address</h4>
         <p>{{customer?.address}}</p>
     </div>
     <div class="box1">
         <h4 i18n>Created At</h4>
         <p>{{customer?.created_at | date}}</p>
     </div>
     <div class="box1">
         <h4 i18n>Updated At</h4>
         <p>{{customer?.updated_at | date}}</p>
     </div>
</div>