<div class="add-customer-form">

    <h1 i18n>Add Customer</h1>
    <form class="example-form" [formGroup]="addCustomerForm" (ngSubmit)="submitAddCustomer()">
        <mat-form-field class="example-full-width" appearance="fill">
          <mat-label i18n>Name</mat-label>
          <input type="text" matInput placeholder="Full Name" formControlName="name">
          <div class="error" *ngIf="f['name'].errors && isSubmitted">
            <small i18n class="form-text text-danger"
                *ngIf="f['name']['errors']['required']">Your
                Username is required.</small>
           
        </div>
        </mat-form-field>
        <mat-form-field class="example-full-width" appearance="fill">
            <mat-label i18n>Email</mat-label>
            <input type="email" matInput formControlName="email"
                   placeholder="Ex. pat@example.com">
            
          </mat-form-field>
        <mat-form-field class="example-full-width" appearance="fill">
          <mat-label i18n>Phone</mat-label>
          <input type="tel" matInput placeholder="Phone" formControlName="phone">
        </mat-form-field>
        <mat-form-field class="example-full-width" appearance="fill">
          <mat-label i18n>Address</mat-label>
          <input type="text" matInput placeholder="Address" formControlName="address">
        </mat-form-field>
      
     
        <button mat-raised-button color="primary" type="submit" i18n>Submit</button>

      </form>

</div>